<div class="list_div_left">
<h2> All Lists</h2>
<table>
	<% @lists.each do |list| %>
		<tr>
		  <td><%= list.name%></td>
		  <td><%= list.description%></td>
		  <td style="width: 10%;"><%=link_to "Items", lists_path(list), :method=> 'get' %></td>
		  <td style="width: 10%;"><%=link_to "Remove", list_path(list), :method=>'delete' %></td>
		</tr>
	<% end %>
	<tr><td colspan=4><%=link_to "Add New List", new_list_path, :method=>'get', :class=>"btn btn-success", :style=>"width: 70%; margin-top: 15px;" %></td></tr>
</table>
</div>

<% if @list_to_show.present? %>
	<div class="list_div_right">
	<h2>Items of <%= @list_to_show.name %></h2>
	<table>
		<% if @items.present? %>
			<% @items.each do |item| %>
				<tr>
				  <td><%= item.name%></td>
				  <td><%= item.comment %></td>
				  <td><%= item.completed==true ? "Completed" : "Not Completed" %></td>
				  <td style="width: 10%;"><%=link_to "Edit", edit_list_item_path(@list_to_show, item), :method=>'get' %></td>
				  <td style="width: 10%;"><%=link_to "Delete", list_item_path(@list_to_show, item), :method=>'delete' %></td>
				</tr>
			<% end %>
		<% end %>
		<tr><td colspan=4><%=link_to "Add Item", new_list_item_path(@list_to_show), :method=>'get', :class=>"btn btn-success", :style=>"width: 70%; margin-top: 15px;" %></td></tr>
	</table>
	</div>
<%end%>
