<center>
	<div class="form_div">
		<h2>Add New Item</h2>

		<%= form_for(@item, url: list_items_path, :method => "post") do |f| %>

		  <div class="form_controls">
			<%= f.label :name %><br />
		  <%= f.text_field :name, autofocus: true %></div>

		  <div class="form_controls"><%= f.label :comment %><br />
			<%= f.text_area :comment, autocomplete: "off" %></div>


		  <div class="form_controls"><%= f.submit "Create" , :class=>"btn btn-success" %></div>
		<% end %>
	</div>
</center>
